<% @project.quotes.each do |conts| %>
<li>
	<%= conts.name %>
	<%= conts.status %>
	<%= link_to "Display Quote", [@project, conts] %>
</li>
<% end %>

<%= link_to 'New Quote', new_project_quote_path %>

