


<h2>Listing Contractors</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contractors.each do |conts| %>
  <tr>
    <td><%= conts.firstname %></td>
    <td><%= conts.surname %></td>
    <td><%= conts.email %></td>
    <td><%= link_to 'Show', conts %>
    </tr>
<% end %>
</table>

<br />

